spring:
  application:
    name: notification
    version: @project.version@
  cloud:
    discovery:
      enabled: ${DISCOVERY_ENABLED:false}
      eureka:
        instance:
          hostname: localhost
    client:
      hostname: localhost
    loadbalancer:
      enabled: ${LOADBALANCER_ENABLED:false}
      ribbon:
        enabled: false
  jackson:
    time-zone: America/Sao_Paulo
  jpa:
    enabled: true
    properties:
      hibernate:
        jdbc:
          time_zone: America/Sao_Paulo
  security:
    enabled: false
  flyway:
    user: gl_notification
    password: gl_notification
    locations: classpath:db/migration
    table: FLYWAY_SCHEMA_HISTORY
    schemas: gl_notification
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 587
    username: 7341993018b0bd
    password: 468af5ce7462c2
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  chave-de-acesso: teste-1234,gateway-api-key
  redis:
    enabled: ${REDIS_ENABLED:false}

server:
  port: 8194
  servlet:
    context-path: /notification

eureka:
  client:
    enabled: ${EUREKA_CLIENT_ENABLED:false}
    service-url:
      defaultZone: ${URL_DISCOVERY:http://localhost:8761/discovery/eureka}
    fetch-registry: true
    register-with-eureka: true
  instance:
    hostname: notification
    prefer-ip-address: false
    non-secure-port: ${PORT}
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: "*"

logstash:
  destination: localhost:5000

logging:
  level:
    root: WARN

    # Spring
    org.springframework: WARN
    org.springframework.web: WARN
    org.springframework.boot: WARN
    org.springframework.security: WARN

    # Hibernate / JPA
    org.hibernate: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql: OFF

    # Infra
    org.apache: WARN
    reactor.netty: WARN

    com.glaiss: INFO
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/glaiss?TimeZone=America/Sao_Paulo
    username: gl_notification
    password: gl_notification
    driver-class-name: org.postgresql.Driver

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${USER_DB}
    password: ${PASSWORD_DB}
    driver-class-name: org.postgresql.Driver
  flyway:
    user: ${USER_DB}
    password: ${PASSWORD_DB}
  cloud:
    discovery:
      eureka:
        instance:
          hostname: ${EUREKA_INSTANCE_HOSTNAME}
    client:
      hostname: ${EUREKA_INSTANCE_HOSTNAME}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  chave-de-acesso: ${CHAVES_DE_ACESSO}
eureka:
  client:
    service-url:
      defaultZone: ${URL_DISCOVERY}
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
    non-secure-port: ${EUREKA_INSTANCE_NON_SECURE_PORT}
    prefer-ip-address: false
server:
  port: ${PORT}
logstash:
  destination: ${LOGSTASH}