name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/service-workflow.yml@main
    secrets: inherit

  push-to-ecr:
    needs: build
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/ecr-push.yml@main
    with:
      image_name: notification-service
    secrets: inherit


  increment-version:
    needs: push-to-ecr
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/increment-version.yml@main
    secrets: inherit

