name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  call-reusable-deploy:
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/service-deploy.yml@main

    with:
      image_name: notification
    secrets:
      USERNAME: ${{ secrets.USERNAME }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
