name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/service-deploy.yml@main

    with:
      image_name: notification
    secrets: inherit

  build:
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/service-workflow.yml@main
    secrets: inherit

  push-to-ecr:
    needs: build
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/ecr-push.yml@main
    with:
      image_name: users-service
    secrets: inherit

  deploy-to-ec2:
    needs: push-to-ecr
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/ec2-deploy.yml@main
    with:
      ec2_ip: ${{ secrets.EC2_IP }}
      ssh_key: ${{ secrets.EC2_PRIVATE_KEY }}
      docker_compose_path: ~/apps/docker-compose.yml
    secrets: inherit

  increment-version:
    needs: push-to-ecr
    uses: GustavoAca/infra-aws-free-tier/.github/workflows/increment-version.yml@main
    secrets: inherit

